<div style="padding: 20 0; margin: 0 auto; width: 500px;">
<p>
<img src="https://github.com/Rocketseat/bootcamp-gostack-desafio-03/raw/master/.github/logo.png" alt="Logo GymPoint">
</p>

<p>
  <h2>Olá, {{{ student_name }}}!</h2>
</p>

<p>O seu pedido de auxílio foi respondido! Confira as informações abaixo:</p>

<p>  <strong>Sua pergunta: </strong> {{ question }} </p>
  <br>
  <span>
    <hr>
    Enviado {{ createdAt }}
  </span>
  <p>
    <strong>Resposta de [GymPoint]:</strong> {{ answer }}
    <br>
    <hr>
    <span>
    Respondido em {{ answered_at }}
    </span>
  </p>
</div>
</div>

